body{
    margin: 12px !important;
    background-color: #e9ecef !important;
}
p{
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    font-size: 60px;
    
}
.content{
    margin-top: 150px;
}
.navbarCustom{
    margin-left: 50%;
}
.texts{
    font-weight: normal;
    font-size: 12pt;
    font-family: monospace;
    color: gray;
}