body{
    background-color: rgb(51, 51, 51);
    text-align: center;
    margin-top: 50vh;
}
p{
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    font-size: 60px;
    
}